
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1495205326837'); /* IE9*/
  src: url('iconfont.eot?t=1495205326837#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1495205326837') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1495205326837') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1495205326837#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home:before { content: "\e7a4"; }

.icon-info:before { content: "\e670"; }

.icon-error:before { content: "\e658"; }

.icon-success:before { content: "\e614"; }

.icon-course:before { content: "\e638"; }

.icon-time:before { content: "\e63a"; }

.icon-lock:before { content: "\e609"; }

.icon-star:before { content: "\e60a"; }

.icon-arrowleft:before { content: "\e60b"; }

.icon-account:before { content: "\e60c"; }

.icon-edit:before { content: "\e60d"; }

.icon-verify:before { content: "\e60e"; }

.icon-warn:before { content: "\e659"; }

.icon-sheet:before { content: "\e604"; }

